.quesDiv {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  padding: 20px;
  padding-top: 40px;
}

.choiceDiv {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  padding: 20px;
  padding-top: 40px;
}

.inputDiv {
  text-align: center;
}

input[type="text"] {
  border-radius: 5px;
  width: 50%;
  padding: 20px;
  font-size: 20px;
}

.buttonDiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
}

.addBtn {
  font-size: 20px;
  padding: 15px;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
  background-color: lightgray;
  border: 1px solid black;
}

.backBtn {
  font-size: 20px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightgray;
  border: 1px solid black;
}
